.round-icon {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid #f2f2f2;
}

.header-container {
    background-color: #fff;
    height: 64px;

}

.header-scroll {
    height: 100%;
}

.sm-header-section {
    position: absolute;
    top: 58px;
    z-index: 1;
    background-color: #fff;
}

.navbar-toggler:focus {
    box-shadow: none;
}